<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="60">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="https://darkdata.org/dd.css">
<link rel="icon" href="https://slackology.net/favicon.ico" type="image/png"/>
<title>2.5 and 10 µm particulate matter (μg/m³)</title>
</head>
<body>
<center>
<br><h1>PM<sub>2.5</sub> and PM<sub>10</sub> levels from a balcony in Augsburg, Germany</h1>
See <a href="https://github.com/mcthoren/dust_wx">here</a> for more info.<br>
<br> Current Conditions (updates every ~60s):

<table borders>
<tr><td>PM<sub>2.5</sub>:</td> <td>TTTPM25 μg/m³</td> <td>PM<sub>10</sub>:</td>  <td>TTTPM10 μg/m³</td></tr>
<tr><td>Last Update:</td>  <td>DATE</td></tr>
</table>

<br>
<img src="dust_pm25.png"><br><br>
<img src="dust_pm10.png"><br><br>
<img src="pm_2.5_day_avgs.30.png"><br><br>
<img src="pm_10_day_avgs.30.png"><br><br>
<img src="pm_2.5_day_avgs.png"><br><br>
<img src="pm_10_day_avgs.png"><br><br>
</center>
<a href="https://www.who.int/news-room/feature-stories/detail/what-are-the-who-air-quality-guidelines">WHO Air quality guidelines</a>
<br> <br>
</body> </html>
