<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="60">
<title>2.5 and 10 µm particulate matter (μg/m³)</title>
</head>
<body  bgcolor="#000000" text="#206cff" link="#0099ff" vlink="#00ffff"> 
<center>
<br><h1>PM₂.₅ and PM₁₀ levels from a room in Augsburg, Germany</h1>
See <a href="https://github.com/mcthoren/dust_wx">here</a> for more info.<br>
<br> Current Conditions (updates every ~60s):

<table borders>
<tr><td>PM₂₅:</td> <td>TTTPM25 μg/m³</td> <td>PM₁₀:</td>  <td>TTTPM10 μg/m³</td></tr>
<tr><td>Last Update:</td>  <td>DATE</td></tr>
</table>

<br>
<img src="dust_pm25.png"><br><br>
<img src="dust_pm10.png"><br><br>
</center>
<br> <br>
</body> </html>
